<div class="w-full bg-stone-100" style="height: calc(100vh - 200px)">
  <div class="mx-auto flex flex-col items-center py-10">
    <h1 class="text-6xl mt-3 font-bold text-center text-stone-900">
      Ingresa tu código y transforma el contenido
    </h1>
    <p class="p-12">
      ¿Tienes un video de YouTube que te inspira? Ingresa el link y deja que
      nuestra potente IA transforme ese contenido en un post listo para tu blog.
      Con la inteligencia artificial optimizando cada detalle, puedes convertir
      tutoriales, entrevistas y más en texto estructurado y atractivo para tu
      audiencia. Ahorra tiempo, mejora tu productividad y lleva tu blog al
      siguiente nivel. ¡Empieza ahora y aprovecha el poder de la IA con solo un
      clic!
    </p>
  </div>
  <div class="flex mx-auto w-11/12 md:w-8/12 xl:w-6/12">
    <div class="flex rounded-md w-full">
      <input
        type="text"
        name="link"
        class="w-full bg-stone-900 bg-opacity-10 py-3 px-8 rounded-md rounded-r-none focus:ring-1 focus:ring-orange-50 focus:outline-none"
        placeholder="Link"
      />
      <button
        class="inline-flex items-center gap-2 bg-orange-50 font-semibold py-3 px-6 rounded-r-md text-gray-900 hover:bg-yellow-300 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
      >
        Generar
      </button>
    </div>
  </div>
  <div class="p-10">
    <div class="bg-white mt-10 mx-auto p-10 rounded-lg">
      <h2 class="text-2xl text-center font-bold">Blog generado</h2>
      <div>
        <ngx-spinner
          bdColor="rgba(0, 0, 0, 0.8)"
          size="medium"
          color="#f2b591"
          type="pacman"
          [fullScreen]="true"
          ><p style="color: white">Cargando</p></ngx-spinner
        >
      </div>
    </div>
  </div>
</div>
