<footer class="p-4">
  <div
    class="m-4 bg-gray-800 rounded-lg p-4 text-gray-400 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm"
      >© 2024
      <a
        class="hover:underline"
        href="https://github.com/javierlnc"
        target="_blank"
        >JavierLnc™</a
      >. All Rights Reserved.
    </span>
    <ul class="flex text-sm font-medium">
      <li>
        <a
          class="hover:underline me-4 md:me-6"
          href="https://www.linkedin.com/in/javierlnc/"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li>
        <a
          class="hover:underline me-4 md:me-6"
          href="https://github.com/javierlnc"
          target="_blank"
          >GitHub</a
        >
      </li>
      <li>
        <a
          class="hover:underline me-4 md:me-6"
          href="mailto:Javierlnc@icloud.com"
          target="_blank"
          >{{ "Javierlnc@icloud.com" }}</a
        >
      </li>
    </ul>
  </div>
</footer>
