<div
  class="min-w-screen bg-stone-100 flex items-center justify-center px-10"
  style="height: calc(100vh - 200px)"
>
  <div
    class="max-w-[960px] bg-black bg-opacity-20 flex rounded-2xl justify-center items-center p-5"
  >
    <div class="flex flex-col text-stone-900 items-center gap-2 justify-center">
      <h1 class="text-2xl font-bold">Sing Up</h1>
      <p></p>
      <form
        action=""
        class="flex flex-col gap-2 w-full"
        [formGroup]="formRegis"
      >
        <div class="relative">
          <div class="absolute top-1 left-1 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-orange-100"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
          </div>
          <input
            type="text"
            placeholder="Nombre"
            id="name"
            name="name"
            formControlName="name"
            class="w-full bg-stone-light py-3 px-12 rounded-md focus:ring-1 focus:ring-orange-50 focus:outline-none"
          />
          <div
            *ngIf="isFieldInvalid('name')"
            class="flex gap-2 text-sm justify-center p-1 text-red-600 rounded-md"
          >
            <span *ngIf="hasError('name', 'required')"
              >El nombre es obligatorio.</span
            >
          </div>
        </div>
        <div class="relative">
          <div class="absolute top-1 left-1 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-orange-100"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
          </div>
          <input
            type="email"
            formControlName="email"
            placeholder="Correo Electronico"
            class="w-full bg-stone-light py-3 px-12 rounded-md focus:ring-1 focus:ring-orange-50 focus:outline-none"
          />
          <div
            *ngIf="isFieldInvalid('email')"
            class="flex gap-2 text-sm justify-center p-1 text-red-600 rounded-md"
          >
            <span *ngIf="hasError('email', 'required')">
              El correo es obligatorio.</span
            >
            <span *ngIf="hasError('email', 'email')"
              >Formato de correo inválido.</span
            >
          </div>
        </div>
        <div class="relative">
          <div class="absolute top-1 left-1 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-orange-100"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
              />
            </svg>
          </div>

          <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            class="w-80 bg-stone-light py-3 px-12 rounded-md focus:ring-1 focus:ring-orange-50 focus:outline-none"
          />
          <div
            *ngIf="isFieldInvalid('password')"
            class="flex gap-2 text-sm justify-center p-1 text-red-600 rounded-md"
          >
            <span *ngIf="hasError('password', 'required')">
              La contraseña es obligatoria.</span
            >
          </div>
        </div>
        <div class="relative">
          <div class="absolute top-1 left-1 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-orange-100"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z"
              />
            </svg>
          </div>

          <input
            type="password"
            placeholder="Confirma contraseña"
            formControlName="confirmPassword"
            class="w-80 bg-stone-light py-3 px-12 rounded-md focus:ring-1 focus:ring-orange-50 focus:outline-none"
          />
          <div
            *ngIf="isFieldInvalid('confirmPassword')"
            class="flex gap-2 text-sm justify-center p-1 text-red-600 rounded-md"
          >
            <span *ngIf="hasError('confirmPassword', 'required')">
              Debe confirmar la contraseña.
            </span>
            <div
              *ngIf="
                !hasError('confirmPassword', 'required') && isPasswordMismatch()
              "
            >
              Las contraseñas no coinciden.
            </div>
          </div>
        </div>
        <button
          class="bg-orange-50 w-full text-gray-900 hover:bg-yellow-300 p-2 rounded-full text-lg font-semibold mt-8 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
        >
          Sign Up
        </button>
      </form>
      <div
        class="border-t-2 border-stone-900 mt-5 p-3 w-full flex flex-col items-center gap-2"
      >
        <p class="text-sm">Registrate con:</p>
        <div class="space-x-2">
          <button
            class="bg-gray-800 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105"
          >
            GitHub
          </button>

          <button
            class="bg-red-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105"
          >
            Google
          </button>
        </div>

        <p class="text-sm">
          Ya tienes cuenta
          <a
            [routerLink]="['/signin']"
            class="hover:underline hover:text-orange-100"
            >Inicia sesión</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
